/* Add CSS styling here */
* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    font-size: 60px;
    font-family: 'Gaegu', cursive;
    color: blue;
    margin: 20px 20px ;
  }
  .container {
    background: black;
    border: 2px solid black;
    width: 100%;
  }
  .header {
    display: flex;
    margin-bottom: 20px;
    margin-left: 40px;
    justify-content: start;
  }
  .navAnchor {
    background: red;
    padding: 10px;
    border: 1px solid lightgray;
    width: 100px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  
  .container a:hover {
    background: yellow;
    color: black;
  }
  
  #name {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .introPic {
    margin: 10px
  }
  
  .introduction {
    text-align: left;
    font-size: 18px;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 70px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  button {
    margin-bottom: 20px;
    background: orange;
    height: 40px;
    width: 100px;
  }
  
  .intro a button:hover {
    background: black;
    color: white;
  }
  
  #containerTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  p{
    text-align: center;
  }

hr {
  border: 1px solid red;
  width: 90%;
}
  
  #container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #container4 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
  }

  .contact {
    color: red;
    font-size: 18px;
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    background: orange;
  }
  footer {
    display: flex;4
    flex-direction: column;
    justify-content: center;
    background: black;
    width: 100%;
    color: white;
  }
  
  h3 {
    font-size: 28px;
    text-align: center;
    padding: 10px;
  }

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

  nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
  }
  .footer {
    color: yellow;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }
  